# Folder to be ignored
.vs/
Build/
Thirdparty/glfw
Thirdparty/glm
Thirdparty/premake5
Thirdparty/volk
Thirdparty/vulkan

# Extensions to be ignored
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.spv